*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   overflow-x: hidden; 
}

::-webkit-scrollbar{
    display: none;
}

#root{
    /* max-height: 90vh; */
    height: 100vh; 
    /* width: 100%; */
}
.borderShad{
    box-shadow: rgba(0, 0, 0, 0.286) 0px 7px 7px 2px;
    border-radius: 15px;
}

.leaflet-container {
    height: 80vh;
    /* width: 80vw; */
    margin: 15vh 20vw  0 0;
  }

.cl-internal-lqfubk ,.cl-internal-11ttlho, .cl-internal-180wb59{
    display: none
  }

@tailwind base;
@tailwind components;
@tailwind utilities;